@font-face {
  font-family: 'Rubik Mono';
  src: url('fonts/RubikMonoOne-Regular.ttf')  format('truetype');
  font-family: 'NunitoSans-Ex-Bold';
  src: url('fonts/NunitoSans-ExtraBold.ttf')  format('truetype');
  font-family: 'NunitoSans-Light';
  src: url('fonts/NunitoSans-Light.ttf')  format('truetype');
}

html, body {
   font-size: 81.25%;
   margin: 0;
   padding: 0;
}

#header {
  background-image: url("Header-img.jpg");
  background-size: cover;
  position: relative;
  height: 30vw;
  overflow: hidden;
}

.bg-angled {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: -50%;
    top: 94%;
    width: 200%;
    height: 10rem;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    z-index: 2;

}

.header-title {
  font-family: 'Rubik Mono';
  font-size: 8em;
  color: white;
  letter-spacing: 8px;
}
.header-row {
  height: 20vh;
}
.paragraph {
   font-family: 'NunitoSans-Light';
   font-size: 1.4em;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: rgb(60, 64, 66);
}
.heading {
  font-family: 'NunitoSans-Ex-Bold';
  margin-bottom: 1.5em;
  padding: 1em 0;
  color: rgb(51, 51, 51);
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  line-height: 1.3em;
  margin: 0 0 0.8em 0;
}

/*Section 1*/

.section-1.container {
  margin-top: 5em;
}
.islands, .fuji {
  width: 128px;
  height: 128px;
}
.learn-about-h1 {
  margin-bottom: 0;
  color: rgba(0,0,0, 0.8);
}
.image-cont {
  margin-top: 4em;
}
