@import url("http://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.css");
@font-face {
font-family: 'Rubik Mono';
src: url('fonts/RubikMonoOne-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'NunitoSans-semi-Bold';
src: url('fonts/NunitoSans-SemiBold.ttf') format('truetype');
}
@font-face {
font-family: 'NunitoSans-Ex-Bold';
src: url('fonts/NunitoSans-ExtraBold.ttf') format('truetype');
}
@font-face {
font-family: 'NunitoSans-Light';
src: url('fonts/NunitoSans-Light.ttf') format('truetype');
}
html, body {
   font-size: 81.25%;
   margin: 0;
   padding: 0;
}
 /*background-image: linear-gradient(to left bottom,#0000 45%,rgba(246, 229, 255, 0.6) 0);
   background-size: 100% 40%, cover;
   background-position: bottom;
   background-repeat: no-repeat;
   z-index: -5;*/

#header {
  background-image: url("Header-img.jpg");
  background-size: cover;
  position: relative;
  height: 30vw;
  overflow: hidden;
  pointer-events: none;
}

.bg-angled {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: -50%;
    top: 94%;
    width: 200%;
    height: 10rem;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    z-index: 2;

}

.header-title {
  font-family: 'Rubik Mono';
  font-size: 8em;
  color: white;
  letter-spacing: 8px;
}
.header-row {
  height: 20vh;
}
.paragraph, .p-project, .dropdown-child {
   font-family: 'NunitoSans-Light';
   font-size: 1.4em;
   line-height: 2;
   letter-spacing: 0.03em;
   color: rgb(60, 64, 66);
   pointer-events: none;
}
.heading {
  font-family: 'NunitoSans-Ex-Bold';
  margin-bottom: 1.5em;
  padding: 1em 0;
  color: rgb(51, 51, 51);
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  line-height: 1.3em;
  margin: 0 0 0.8em 0;
  pointer-events: none;
}
.heading2{
  font-family: 'NunitoSans-Ex-Bold';
  padding-top: 10px;
  color: rgb(51, 51, 51);
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
}
.heading2:hover {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.7);
  transition: 0.5s;
}

/*Section 1*/

.section.container {
  margin-top: 5em;
}
.islands, .fuji, .people {
  width: 128px;
  height: 128px;
  cursor: pointer;
}
.learn-about-h1 {
  margin-bottom: 0;
  color: rgba(0,0,0, 0.8);
}
.image-cont {
  margin-top: 4em;
}
.p-about {
  font-family: 'NunitoSans-semi-Bold';
  margin-top: 20px;
}

/*About project container*/

.about-project {
  margin-top: 90px;
  height: 40vh;
  background-color: rgba(246, 229, 255, 0.7);
}
.project-row {
  height: 40vh;
}
.p-project {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 30px;
}
.octicon-mark-github {

}
.gthb-button:hover {
  text-decoration: none;
  color: #f1a2c7;
  transition: 0.5s;
  border: 3px solid #f1a2c7 !important;
}
.gthb-button {
  padding: 0.8em 1.5em 0.9em 1.5em;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-size: 2em;
  width: 8vw;
  border: 3px solid #e770a8 !important;
  border-radius: 30px;
  line-height: 1.5em;
  color: #e770a8;
  padding: 15px;
  font-family: 'NunitoSans-Ex-Bold';
  margin-bottom: 25px;
}
/*Resources container*/

.resources-container {
 margin-top: 75px;
}
.resources-imgs {
  width: 200px;
  height: 125px;
  border-radius: 50%;
  margin-top: 50px;
}
.resources-row {
  margin-top: 40px;
}

.dropdown-child {
  pointer-events: auto;
}

.dropdown-header {
  font-family: 'NunitoSans-semi-Bold';
  color: #2d3252;
  text-align: center;
}
.dropdown-child {
  padding: 15px;
}
.dropdown-menu > li > a:hover {
  background-color: rgba(246, 229, 255, 0.4);
  transition: 1s;
  background-image: none;
}
.dropdown-menu, .dropdown-menu > li > a {
  width: 18vw;
}
.dropdown-menu {
  width: 18vw;
}
.dropdown-menu > li > a {
  text-align: center;
}
.dropdown-toggle::after {
  display:none !important;
}

#footer {
  margin-top: 130px;
  min-height: 420px;
  overflow: hidden;
  background: url(footer.png) no-repeat center bottom;
  background-size: cover;
  text-align: center;
  clear: both;
  position: relative;
}
.final-words {
  margin-top: 120px;
}

/*Drawers/Drawer-1*/

.drawer {
  position: fixed;
  overflow: auto;
  height: 100vh;
  width: 550px;
  background-color: black;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: right 1s ease;
  text-align: right;
}
#drawer-1 {
  background-color: rgba(34, 39, 68, 0.85);
  background-image: linear-gradient(to left bottom,#0000 50%,rgba(126, 100, 142, 0.1) 0);
   background-size: 100% 100%, cover;
   background-position: top bottom;
   background-repeat: no-repeat;
}
.drawer-closed {
  right: -600px;
}
.opacity-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 900;
  background-color: rgba(0,0,0, 0.6);
  display: none;
  cursor: pointer;
}
.heading-drawer-1 {
  font-family: 'Rubik Mono';
  font-size: 3em;
  color: white;
  letter-spacing: 8px;
  padding-top: 20px;
  word-spacing: -20px;
}
.li-heading-dr {
  font-family: 'NunitoSans-semi-Bold';
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 1.6em;
  margin-top: 30px;
  padding-left: 20px;
}
.li-heading-dr li {
  list-style-type: none;
  cursor: pointer;
}
.li-heading-dr li:hover {
  opacity: 0.6;
  transition: 1s;
}
.divider-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 80px;
  box-shadow: 1.5px 2.5px rgba(228, 228, 228, 0.6);
}

.learn-about-chapter, .learn-second-chapter, .learn-third-chapter .heading-drawer-1{
  margin-top: 60px;
}
.paragraph-drawer1 {
  font-family: "NunitoSans-Light";
  color: #f1f1f1;
  line-height: 1.4em;
  letter-spacing: 2px;
  font-size: 1.6em;
  margin-top: 35px;
  margin-left: 20px;
}

/*Drawer-2*/

#drawer-2 {
  background-color: rgba(3, 29, 21,0.85);
  background-image: linear-gradient(to left bottom,#0000 50%,rgba(16, 3, 21, 0.15) 0);
   background-size: 100% 100%, cover;
   background-position: bottom;
   background-repeat: no-repeat;
}

/*Drawer-3*/
#drawer-3{
  background-color: rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(to left bottom,#0000 50%,rgba(243, 208, 128, 0.1) 0);
   background-size: 100% 100%, cover;
   background-position: bottom;
   background-repeat: no-repeat;
}
